
@{
    Layout = null;
}
@using MV.PH.Entity;
@using MV.PH.WebAdmin.Model.PageHelp;
@using MV.PH.WebAdmin.Model.Dictionary
@model PageListModel<P_DictionaryEntity>

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/lib/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/css/H-ui.admin.css" rel="stylesheet" type="text/css" />

    <link href="/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />

    <link href="/lib/css/pagination.css" rel="stylesheet" />

    <link href="~/lib/artDialog/ui_dialog.css" rel="stylesheet" />
    <link href="/lib/css/amazeui.css" rel="stylesheet" />
    <title>日志列表</title>
    <style type="text/css">
        .Hui-iconfont {
            font-size: 14px;
        }

        .am-btn-group a {
            background: #FAFAFA;
        }

            .am-btn-group a:hover {
                background: #FAFAFA;
                color: #2A72C5;
            }
    </style>
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> <span id="parentMenu"></span>
        <span class="c-gray en">&gt;</span> <span id="ChildrenMenu"></span>
        <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>

    <div class="pd-20">

        <form id="form1" action="">
            <input type="hidden" id="MenuID" name="MenuID" value="@ViewBag.MenuID" />

            <div class="text-c" style="text-align:left;">
                <select class="select-box inline" id="DictionaryCategoryID" name="DictionaryCategoryID" style="min-width:160px">
                    <option value="">所有类别</option>
                    @{

                        var list = ViewData["category"] as List<DictionaryCategoryEntity>;

                        foreach (var item in list)
                        {
                            <option value="@item.DictionaryCategoryID" @(ViewBag.DictionaryCategoryID == item.DictionaryCategoryID ? "selected" : "")>&nbsp; &nbsp;    ├@item.CategoryName</option>
                        }
                    }

                </select>

                <input type="text" name="DictionaryName" id="DictionaryName" value="@ViewBag.DictionaryName" placeholder="字典名称" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>

            </div>
        </form>

        <div class="cl bg-1 bk-gray mt-20" style="border:0px;background:#fff; border-bottom:1px solid #eee;margin-bottom:10px; padding-bottom:5px;">
            <div class="am-btn-group" data-am-button="">

                <a class="am-btn am-btn-default am-btn-xs" onclick="showartDialog('添加字典', '/System/DictionaryAdd', '600', '360')" href="javascript:;">
                    <input type="radio" name="options" id="option2">
                    <i class="Hui-iconfont">&#xe600;</i> 新增
                </a>

                <a class="am-btn am-btn-default am-btn-xs" onclick="DeleteAll()">
                    <input type="radio" name="options" id="option1">
                    <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
                </a>

            </div>
        </div>

        <div style="padding-bottom:50px;">
            <table class="table table-border table-bordered table-bg" id="sample_table">
                <thead>
                    <tr class="text-c">
                        <th width="50">
                            <input type="checkbox" name="online" id="online" value="" onclick="checkAll(this)" />
                        </th>
                        <th width="60">编号</th>
                        <th width="100">分类</th>
                        <th width="100">字典名称</th>
                        <th width="100">字典值</th>
                        <th>字典描述</th>
                        <th width="80">排序号码</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Data.Count < 1)
                        {
                            <tr class="text-c">
                                <td colspan="8" style="text-align:center;font-size:14px;color:#666;">暂无记录!</td>
                            </tr>
                        }

                        var count = (Model.CurrentPageIndex - 1) * Model.PageSize;
                        foreach (var item in Model.Data)
                        {
                            count++;
                            <tr class="text-c">
                                <td><input type="checkbox" value="@item.DictionaryID" name=""></td>
                                <td>@count</td>
                                <td><a href="#">@item.CategoryName</a></td>
                                <td>@item.DictionaryName</td>
                                <td>@item.DictionaryValue</td>
                                <td style="text-align:left">@item.DictionaryDescription</td>
                                <td>@item.SortNumber</td>
                                <td class="td-manage">
                                    <a title="编辑" href="javascript:;" onclick="showartDialog('编辑字典', '/System/DictionaryEdit?DictionaryID=@item.DictionaryID', '600', '360')" class="ml-5" style="text-decoration:none">
                                        <i class="Hui-iconfont">&#xe6df;</i>
                                    </a>
                                    <a title="删除" href="javascript:;" onclick="dic_del('@item.DictionaryID')" class="ml-5" style="text-decoration:none">
                                        <i class="Hui-iconfont">&#xe6e2;</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

            <div class="pagelist">
                <div id="PageContent" class="default">
                    <span>共@(Model.TotalItemCount)记录</span>
                    @(new HtmlString(PageUIDisplay.Display(Model.CurrentPageIndex, Model.TotalPageCount, "", 8, "")))
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/lib/js/H-ui.js"></script>
    <script type="text/javascript" src="/lib/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/js/Common.js"></script>

    <script src="~/lib/artDialog/dialog_plus_min.js"></script>
    <script type="text/javascript">


        /*资讯-批量删除*/
        function DeleteAll() {
            var chk = $(":checkbox");
            var chkcount = 0;
            var chkstring = "";
            for (var i = 0; i < chk.length; i++) {
                if (chk[i].checked && chk[i].id != "online") {
                    chkcount++;
                    chkstring += chk[i].value + ",";
                }
            }
            if (chkcount > 0) {

                top.dialog({
                    title: '提示',
                    width: "300px",
                    content: '您已选中' + chkcount + '条记录,确认要删除吗？',
                    okValue: '确定',
                    ok: function () {

                        var v = {};
                        v.DictionaryIDstring = chkstring;
                        $.post("/System/DelDictionary", v, function (r) {

                            if (r.Status > 0) {

                                layer.msg(r.Message, { icon: 1, time: 1000 }, function (index) {
                                    layer.close(index);
                                    location.href = location.href;
                                });
                            }
                            else {

                                layer.msg(r.Message, { icon: 2, time: 1000 }, function (index) {
                                    layer.close(index);
                                });
                            }
                        });


                        //$(obj).parent().parent().remove(); //删除节点
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                }).showModal();

                //layer.confirm('您已选中' + chkcount + '条记录,确认要删除吗？', function () {
                //    var v = {};
                //    v.LogIDstring = chkstring;
                //    $.post("/Admin/LogDel", v, function (r) {
                //        if (r.Status > 0) {
                //            layer.msg(r.Message, { icon: 1, time: 1000 }, function (index) {
                //                layer.close(index);
                //                location.href = location.href;
                //            });
                //        }
                //        else {
                //            layer.msg(r.Message, { icon: 2, time: 1000 }, function (index) {
                //                layer.close(index);
                //            });
                //        }
                //    });
                //layer.msg('操作成功!', { icon: 1, time: 1000 }, function () {});  //打钩图标 操作成功
                //layer.msg('操作失败!', { icon: 2 });  //打叉图标 操作失败
                //layer.msg('信息!', { icon: 3 });  //问号图标 信息
                //layer.msg('操作失败!', { icon: 4 });  //一把锁图标 权限不够
                //layer.msg('操作失败!', { icon: 5 });  // 不开心图标  操作失败
                //layer.msg('操作失败!', { icon: 6 });  //开心图标 操作成功
                //layer.msg('操作失败!', { icon: 7 });  //警告图标 警告
            }
            else {
                ///正上方弹出提示
                layer.msg('请选择要删除的数据', {
                    offset: 0,
                    shift: 6,
                    time: 3000
                });

            }
        }

        /*管理员-删除*/
        function dic_del(id) {
            top.dialog({
                title: '提示',
                width: "300px",
                content: '确认要删除吗？',
                okValue: '确定',
                ok: function () {
                    var v = {};
                    v.DictionaryIDstring = id;
                    $.post("/System/DelDictionary", v, function (r) {

                        if (r.Status > 0) {
                            var d = dialog({ content: r.Message, width: "100px" }).show();
                            setTimeout(function () {
                                location.href = location.href;
                                d.close().remove();
                            }, 2000);

                        }
                        else {
                            var d = dialog({ content: r.Message, width: "200px" }).show();
                            setTimeout(function () {
                                d.close().remove();
                            }, 3000);

                        }
                    });
                },
                cancelValue: '取消',
                cancel: function () { }
            }).showModal();

        }
    </script>
</body>
</html>
