
@{
    Layout = null;
}
@using MV.PH.Entity;
@using MV.PH.WebAdmin.Model.PageHelp;

@model PageListModel<SystemLogEntity>

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/lib/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/css/H-ui.admin.css" rel="stylesheet" type="text/css" />

    <link href="/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />

    <link href="/lib/css/pagination.css" rel="stylesheet" />

    <link href="~/lib/artDialog/ui_dialog.css" rel="stylesheet" />
    <link href="/lib/css/amazeui.css" rel="stylesheet" />
    <title>日志列表</title>
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> <span id="parentMenu"></span>
        <span class="c-gray en">&gt;</span> <span id="ChildrenMenu"></span>
        <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>

    <div class="pd-20">

        <form id="form1" action="">

            <div class="text-c" style="text-align:left;">
                日期范围：
                <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" name="StartTime" value="@ViewBag.StartTime" class="Wdate input-text" style="width:120px;" autocomplete="off">
                -
                <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" name="EndTime" value="@ViewBag.EndTime" class="Wdate input-text" style="width:120px;" autocomplete="off">
                @*<input type="text" name="UserName" id="UserName" value="@ViewBag.UserName" placeholder="操作人" style="width:250px" class="input-text">*@
                &nbsp;&nbsp;
                操作人：
                <span id="combox">
                </span>

                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>

            </div>
        </form>

        <div class="cl bg-1 bk-gray mt-20" style="border:0px;background:#fff; border-bottom:1px solid #eee;margin-bottom:10px; padding-bottom:5px;">
            <div class="am-btn-group" data-am-button="">

                <a class="am-btn am-btn-default am-btn-xs" onclick="quanxuan()">
                    <input type="radio" name="options" id="option1">
                    <i class="Hui-iconfont">&#xe676;</i> <span id="font">全选</span>
                </a>

                <a class="am-btn am-btn-default am-btn-xs" onclick="DeleteAll()">
                    <input type="radio" name="options" id="option1">
                    <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
                </a>

            </div>
        </div>

        <div style="padding-bottom:50px;">
            <table class="table table-border table-bordered table-bg" id="sample_table">
                <thead>
                    <tr class="text-c">
                        <th width="50">
                            <input type="checkbox" name="online" id="online" value="" onclick="checkAll(this)" />
                        </th>
                        <th width="100">操作人</th>
                        <th width="100">操作类型</th>
                        <th>操作描述</th>
                        <th width="100">用户IP</th>
                        <th width="150">操作时间</th>
                        <th width="100">操作状态</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Data.Count < 1)
                        {
                            <tr class="text-c">
                                <td colspan="8" style="text-align:center;font-size:14px;color:#666;">暂无记录!</td>
                            </tr>
                        }

                        var count = (Model.CurrentPageIndex - 1) * Model.PageSize;
                        foreach (var item in Model.Data)
                        {
                            count++;
                            <tr class="text-c">
                                <td><input type="checkbox" value="@item.SystemLogID" name=""></td>
                                <td><a href="#">@item.UserName</a></td>
                                <td>@item.LogCategory</td>
                                <td style="text-align:left">@item.LogContent</td>
                                <td>@item.LogIP</td>
                                <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                                <td><a href="#">@item.LogTitle</a></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

            <div class="pagelist">
                <div id="PageContent" class="default">
                    <span>共@(Model.TotalItemCount)记录</span>
                    @(new HtmlString(PageUIDisplay.Display(Model.CurrentPageIndex, Model.TotalPageCount, "", 8, "")))
                </div>
            </div>
        </div>
    </div>

    @{ 
        var user_list = ViewData["list_User"] as List<UserEntity>;
        var user_Name = string.Empty;
        foreach (var item in user_list)
        {
            user_Name += "'"+item.UserName+"',";
        }
    }
    <script src="/lib/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/js/H-ui.js"></script>
    <script type="text/javascript" src="/lib/js/H-ui.admin.js"></script>
    <script src="/lib/artDialog/dialog_plus_min.js"></script>

    <script type="text/javascript" src="~/lib/js/Common.js"></script>
    <script src="~/lib/combox/jquery.combox.js"></script>
    <link href="~/lib/combox/styles/style.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {

            $('#combox').combox({ datas: [@(new HtmlString(user_Name.ToString().TrimEnd(',')))] });

            $("#UserName").val("@ViewBag.UserName");
        });
    </script>
    <script type="text/javascript">
        /*资讯-批量删除*/
        function DeleteAll() {
            var chk = $(":checkbox");
            var chkcount = 0;
            var chkstring = "";
            for (var i = 0; i < chk.length; i++) {
                if (chk[i].checked && chk[i].id != "online") {
                    chkcount++;
                    chkstring += chk[i].value + ",";
                }
            }
            if (chkcount > 0) {

                top.dialog({
                    title: '提示',
                    width: "300px",
                    content: '您已选中' + chkcount + '条记录,确认要删除吗？',
                    okValue: '确定',
                    ok: function () {

                        var v = {};
                        v.LogIDstring = chkstring;
                        $.post("/Admin/LogDel", v, function (r) {

                            //alert(r.Status+"  "+r.Message);
                            if (r.Status > 0) {

                                layer.msg(r.Message, { icon: 1, time: 1000 }, function (index) {
                                    layer.close(index);
                                    location.href = location.href;
                                });
                            }
                            else {

                                layer.msg(r.Message, { icon: 2, time: 1000 }, function (index) {
                                    layer.close(index);
                                });
                            }
                        });


                        //$(obj).parent().parent().remove(); //删除节点
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                }).showModal();

                //layer.confirm('您已选中' + chkcount + '条记录,确认要删除吗？', function () {
                //    var v = {};
                //    v.LogIDstring = chkstring;
                //    $.post("/Admin/LogDel", v, function (r) {
                //        if (r.Status > 0) {
                //            layer.msg(r.Message, { icon: 1, time: 1000 }, function (index) {
                //                layer.close(index);
                //                location.href = location.href;
                //            });
                //        }
                //        else {
                //            layer.msg(r.Message, { icon: 2, time: 1000 }, function (index) {
                //                layer.close(index);
                //            });
                //        }
                //    });
                //layer.msg('操作成功!', { icon: 1, time: 1000 }, function () {});  //打钩图标 操作成功
                //layer.msg('操作失败!', { icon: 2 });  //打叉图标 操作失败
                //layer.msg('信息!', { icon: 3 });  //问号图标 信息
                //layer.msg('操作失败!', { icon: 4 });  //一把锁图标 权限不够
                //layer.msg('操作失败!', { icon: 5 });  // 不开心图标  操作失败
                //layer.msg('操作失败!', { icon: 6 });  //开心图标 操作成功
                //layer.msg('操作失败!', { icon: 7 });  //警告图标 警告
            }
            else {
                ///正上方弹出提示
                //layer.msg('请选择要删除的数据', {
                //    offset: 0,
                //    shift: 6,
                //    time: 1000
                //});
                parent.dialog({
                    title: '提示',
                    content: '对不起，请选中您要操作的记录！',
                    okValue: '确定',
                    ok: function () { }
                }).showModal();

            }
        }
    </script>
</body>
</html>
